
/* pages/index.module.css */
.container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.name {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.description {
  font-size: 1.1rem;
  color: #555;
}

.links {
  margin-top: 20px;
}

.link {
  color: #0070f3;
  text-decoration: none;
  margin: 0 5px;
}

.link:hover {
  text-decoration: underline;
}

.research {
  margin-top: 40px;
}

.sectionTitle {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.sectionDescription {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.projects {
  margin-top: 20px;
}

.projectItem {
  margin-bottom: 20px;
}

.projectTitle {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1px;
}

.projectAuthors {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
}

.projectLink {
  color: #0070f3;
  text-decoration: none;
  margin-right: 10px;
}

.projectLink:hover {
  text-decoration: underline;
}

.experience {
  margin-top: 40px;
}

.experienceItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.experienceLogo {
  width: auto;
  height: 50px;
  margin-right: 15px;
  border-radius: 5px;
}


.experienceLogoBrain {
  width: auto;
  height: 86px;
  margin-right: 15px;
  border-radius: 5px;
}
.experienceLogoWise {
  width: auto;
  height: 75px;
  margin-right: 15px;
  border-radius: 5px;
}

.experienceDetails {
  flex: 1;
}

.experienceTitle {
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.experienceCompany {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

.experienceDuration {
  font-size: 0.9rem;
  color: #777;
}


.experienceDescription {
  font-size: 0.9rem;
  color: #555;
  margin-top: 5px;
  line-height: 1.5;
}